<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Messages</title>
		<link rel="stylesheet" href="resources/main.css">
	<head>
	<body>
	{{> header}}
	<h2>Messages</h2>
	<form method = "POST" action = "/send_message">
		<input name = "message[recipient]" placeholder="Recipient">
		<br>
		<textarea class = "msgBox" name ="message[message]"></textarea>
		<br>
		<input type="submit" value ="Send">
	</form>
	{{#each messages}}
		<div>
			{{this.user}}		
			<a href = "/messages/{{this._id}}">View Messages</a>
		</div>
	{{/each}}
	</body>
</html>
