<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Messages</title>
		<link rel="stylesheet" href="/resources/main.css">
	<head>
	<body>
	{{> header}}
	<h2>Messages</h2>
	{{#each messages}}
		<div>
			<b>{{this.username}}:</b>
{{{this.message}}}
			<br>
		</div>
	{{/each}}
	<form method = "POST" action = "/send_message">
		<input type="hidden" name = "message[recipient]" value="{{otherUser}}">
		<br>
		<textarea class = "msgBox" name ="message[message]"></textarea>
		<br>
		<input type="submit" value ="Send">
	</form>
	</body>
</html>

