<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Message Sent</title>
		<link rel="stylesheet" href="/resources/main.css">
	<head>
	<body>
	{{> header}}
	<h2>
		{{#if error}}
			{{error}}
		{{else}}
			Message Sent!
		{{/if}}
	</h2>
	</body>
</html>
